<div class="row">
  <div class="col-sm-12">
    <div class="total-cost">
      <button (click)="showGross()" class="btn btn-primary btn-sm float-left">Show gross</button>
      <p class="text-right">TOTAL COST: {{ totalCost }} PLN</p>
    </div>
  </div>
</div>
