<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars.length > 0; else noCarsInfo " class="cs-table table table-striped">
        <thead>
        <th>car</th>
        <th>plate</th>
        <th>delivery-date</th>
        <th>deadline</th>
        <th>client</th>
        <th>cost</th>
        <th>action</th>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars; let i=index">
          <td [ngClass]="{'row-error': car.isFullyDamaged}"> {{car.model }} </td>
          <td> {{ car.plate }} </td>
          <td> {{ car.deadline }} </td>
          <td> {{ car.deliveryDate }} </td>
          <td> {{ car.client.firstName }} {{ car.client.surname }} </td>
          <td> {{ car.cost }} </td>
          <td> Action placeholder </td>
        </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Currently no cars in service</p>
        </div>
      </ng-template>
    </div>
  </div>
  <app-total-cost [totalCost]="totalCost" (shownGross)="onShowGross($event)"></app-total-cost>
  <div class="row" *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right"> TOTAL GROSS COST: {{grossCost}} PLN</p>
      </div>
    </div>
  </div>
</div>
