@import 'variables';


.cs-table {
  background: @white;
}

th {
  font-weight: 700;
  text-transform: uppercase;
  color: @blue;
}

td {
  color: @blue;
}

.row-error {
  border-left: 2px solid @red;
}
